
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

html,body{
    max-width: 100%;
    overflow-x: hidden;
    max-height: 100%;
}

.nav-link{
    padding: 20px;
    margin-left: 20px;
}
.navbar-nav{
    padding: 10px;
}
.navbar-nav .nav-item .nav-link{
    color: black !important;
    font-weight: 600;
    font-size: 16px;
}
.navbar-nav .nav-item .nav-link:hover{
    color: #00acee !important;
}
.dropdown{
    margin-left: 3px;
    margin-right: 3px;
}
.dropdown .dropdown-menu{
   background-color: #00acee !important;
}
.dropdown .dropdown-menu .dropdown-item{
    color: black;
    background-color: #00acee;
    border-bottom: 1px solid #8AB8DA;
    text-align: center;
    padding: 4px;
 }
 .dropdown .dropdown-menu .dropdown-item:hover{
     display: block;
     color: white;
     transition: all .5s;
 }

.nav-area{
    position: fixed;
    width: 100%;
    z-index: 1;
}
/** nav form btn **/
.form-inline .btn {
    border-radius: 4px;
    background-color: #FF4933;
    border: none;
    color: #FFFFFF;
    text-align: center;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .form-inline .btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .form-inline .btn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .form-inline .btn:hover span {
    padding-right: 25px;
  }
  
  .form-inline .btn:hover span:after {
    opacity: 1;
    right: 0;
  }
/**banner part**/
.banner_part{
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.btn_1 {
    border-radius: 4px;
    background-color: #FF4933;
    border: none;
    color: #FFFFFF;
    text-align: center;
    height: 40px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .btn_1 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .btn_1 span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .btn_1:hover span {
    padding-right: 25px;
  }
  
  .btn_1:hover span:after {
    opacity: 1;
    right: 0;
  }
.banner_text{
    padding-top: 10%;
    color: white;
    font-weight: 700;
    text-shadow:  2px 2px slategray;
}
.banner_text h6{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0px;
    width: 100%;
    display: inline-block;
} 
.banner_text p{
    font-size: 24px;
    font-weight: 400;
    padding-bottom: 5%;   
    width: 100%;
}
.banner_text h1{
    font-size: 44px;
}

ul{
list-style-type: none;
}


.our-features{
    background-color: #F6F2F1;
}

.our-features .card{
    margin-left: auto;
    margin-right: 50px;
    height: 18rem;
    width: 15rem;
}
.our-features .features-headline{
    font-size: 31px;
    font-weight: 600;
    display: inline-block;
    margin-bottom: 55px;
    margin-top: 20px;
    text-align: center;
    width: 100%;
    color: #5271a3;
    font-family: 'Krona One', sans-serif;
}
.our-features .card-body{
    font-size: 20px;
    line-height: 1;
}
.our-features .card-body h3{
    display: inline-block;
    width: 100%;
    color: #3f4a5b;
    font-size: 19px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
}
/*.card{
    box-shadow: 
       inset 0 -3em 3em rgba(0,0,0,0.1), 
             0 0  0 2px rgb(255,255,255),
             0.3em 0.3em 1em rgba(0,0,0,0.3);
}*/
.snd-ftr-items{
    margin-top: 50px !important;
}

.our-features .card:hover{
    transition: all 0.4s ease-out;
    transform: scale(1.05);
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    top: -4px;
    border: 1px solid #cccccc;
    background-color: white;
}
.our-features .card:hover:after{
    transform: scale(1.05);
    transition: all 0.5s ease;
}

/**courses item**/
.courses-part .courses-headline{
    font-size: 31px;
    font-weight: 600;
    display: inline-block;
    margin-bottom: 55px;
    margin-top: 20px;
    text-align: center;
    width: 100%;
    color: #5271a3;
    font-family: 'Krona One', sans-serif;

}


.courses-part .card:hover .card-body{
  opacity: 1;
}
.courses-part .card{
    cursor: pointer;
}
.courses-part .card:hover .card-img-top{
    opacity: .2;
  }

.courses-part .card:hover .middle{
  opacity: 1;
}
.middle {
  transition: .8s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  border: 1px solid #337DFF;
  border-radius: 4px;
  cursor: pointer;
  
}
.card .middle .text {
  background-color:  #00acee;
  color:white;
  font-size: 12px;
  font-weight: 600;
  padding: 10px 20px;
}

.courses-part .card{
    margin-right: 50px;
    height: 20rem;
    width: 15rem;
    box-shadow: 1px solid lightslategray;
}
.courses-part .card .card-img-top{
    transition: .8s ease;
}
.courses-part{
    background-color: white;
    padding-bottom: 30px;
}
.courses-part .card-body{
    text-align: center;
    color: #3f4a5b;
}
.courses-part .card-body h5{
    font-weight: 600;
    font-size: 21px;
}
.courses-part .card-body p{
    font-style: italic;
}

/** service part here **/
*{
    box-sizing: border-box;
}
.service-part .tabs-headline{
    font-size: 31px;
    font-weight: 600;
    display: inline-block;
    margin-bottom: 55px;
    margin-top: 20px;
    text-align: center;
    width: 100%;
    color: #5271a3;
    font-family: 'Krona One', sans-serif;
}


.service-part{
    height: 700px;
    background: #F6F2F1;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.tabs{
    position: absolute;
    margin-top: 8%;
    margin-left: 0%;
    margin-bottom: 0%;
    width: 85%;
    height: 500px;
    padding: 30px 20px;
    box-shadow: 5px 5px 10px 5px #ccc;
    overflow: hidden;
}
.tab-header {
    float: left;
    width: 30%;
    height: 100%;
    border-right: 10px solid #ccc;
    padding: 50px 0px;
    background-color:  #063044eb;
    border-radius: 10px;
}

.tabs .tab-header >div {
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    font-weight: 600;
    color: black;
    cursor: pointer;
    padding-left: 10px;
}

.tab-header > div:hover,
.tab-header >div.active{
    color: white;
}

.tabs .tab-header div i{
    display: inline-block;
    margin-left: 10px;
    margin-right: 5px;
}

.tabs .tab-content{
    position: relative;
    height: 100%;
    overflow: hidden;
}

.tabs .tab-content img{
    height: 200px;
    width: 260px;
    padding-top: 0 !important;
    margin-bottom: 10px;
    margin-top: 15px;
    
}
.tabs .tab-content >div{
    margin-left: 25% !important;
    box-sizing: border-box;
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    height: 25rem;
    width: 18rem;
    background-color: #063044eb;;
    margin-top: 20px;
}
.tabs .tab-content >div i{
    color: #FF4933; 
    padding-left: 10px;
    padding-right: 10px;
}
.tabs .tab-content >div p{
    color:white;
   
}
.tabs .tab-content >div{
    position: absolute;
    text-align: center;
    top: -200%;
    /*transition: all 500ms ease-in-out;*/
}
.tabs .tab-content >div p{
    padding-left: 10px;
    text-align: start;
}

.tabs .tab-content > div.active{
    top: 0px;
}

.tabs .tab-indicator{
    position: absolute;
    width: 5px;
    height: 50px;
    background: #FF4933;;
    left: 30%;
    top: 80px;
    transition: all 500ms ease-in-out;
}

/** contact section **/
.contact-form-part{
    background-image: url('../img/contact-background/claudio-schwarz-purzlbaum-_wDZkpybAfY-unsplash.jpg');
    
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-blend-mode: overlay;
    padding-bottom: 2%;
    padding-top: 2%;
}
.contactinfo{
    padding-top: 8%;
}

.contactinfo .info li{
    padding: 1%;
} 
.info{
    padding-top: 5%;
}
.contact-form-part .row{
    background-color: #00000082;
    opacity: 1;
    background-position: center center;
    border-radius: 10px;
}
.contactForm h2{
   font-size: 25px;
    font-weight: 400;
    display: inline-block;
    text-align: center;
    width: 100%;
    color: white;
    font-family: 'Krona One', sans-serif;
}
.formBox .inputBox span{
    color: white;
}
.contactForm{
    padding-top: 3%;
    margin-left: 25%;
}
.inputBox{
    padding: 3%;
    
}
input{
    width: 100%;
    border: 1px solid #888;
  border-radius: 1px;
}
textarea{
    width: 100%;
    border: 1px solid #888;
    border-radius: 1px;
    height: 80px;
}

.sci{
    display: flex;
}
.sci li{
    padding: 5px;
    font-size: 25px;
    cursor: pointer;
    color: cornsilk;
}

.fa-facebook-square:hover{
    color: #3b5998;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}
.fa-twitter:hover{
    color: #1DA1F2;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}
.fa-linkedin-square:hover{
    color: #0e76a8;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}
.fa-youtube-play:hover{
    color: #FF0000;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}
.fa-google-plus-square:hover{
    color: #db4a39;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}
.fa-pinterest-square:hover{
    color: 	#E60023;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}

/** associate member area**/
.owl-carousel img {

    max-width:50%;
    height: 50%;
    padding: 5%;
    text-align: center;
    
    
}
/*Team Section*/





.Team .team-headline{
    font-size: 31px;
    font-weight: 600;
    display: inline-block;
    margin-bottom: 55px;
    margin-top: 20px;
    text-align: center;
    width: 100%;
    color: #5271a3 !important;
    font-family: 'Krona One', sans-serif;
}

.Team img{
    margin-top: -50px;
    object-fit: cover;
}
.Team i{
    font-size: 20px;
    color: white;
}
.Team p{
    font-weight: 500;
    font-style: oblique;
    color: black;
}
.Team h3{
    color: black;
}
.Team h5{
    color: ivory;
}
.Team h1{
    color: #00acee;
}
.Team .card{
    height: 25rem;
    width: 17rem;
    border-radius: 5px;
    box-shadow: 5px 5px 15px #ccc;
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    background-color: #94BEDA;
}

.Team .card:hover{
    background:#E36C5E;
    color: #fff;
    border-radius: 5px;
    border: none;
    box-shadow: 5px 5px 10px #ccc;
}
.Team .card .fa-facebook:hover{
    color: #3b5998;
}
.Team .card .fa-instagram:hover{
    color: #C13584;
}

.Team .card-body{
    color: white;
}


/** testimonial **/
.testimonial-area .testimonial-header{
    font-size: 31px;
    font-weight: 600;
    display: inline-block;
    margin-bottom: 55px;
    margin-top: 20px;
    text-align: center;
    width: 100%;
    color: #5271a3;
    font-family: 'Krona One', sans-serif;
}


.testimonial-info{
    margin-top: 50px;
}
.testimonial-info h3{
    margin-bottom: 20px;
    font-weight: 600;
    letter-spacing: 0;
}
.testimonial-info h6{
    font-weight: 500;
    font-size: 16px;
}
.testimonial-info ul{
    display: flex;
    
}
.testimonial-info li{
    background: #262626;
    border-radius: 50%;
    text-align: center;
    margin-right: 10px;
}
.testimonial-info li a{
    color: #fff;
    padding: 7px 5px;
}
.testimonial-info p{
    margin: 40px 0;
    color: black;
    font-size: 18px;
}
.testimonial-div{
    width: 45px;
    background: #FF4933;
    height: 2px;
    position: relative;
    margin-top: 20px;
}
.testimonial-div:after{
    position: absolute;
    content: '';
    width: 30px;
    background: #FF4933;
    height: 2px;
    bottom: 0;
    top: 5px;
    bottom: 0;
    top: 5px;
}
.carousel-indicators{
    bottom: 20px;
    left: 53%;
}
.carousel-indicators li{
    border-color: #444;

}
.carousel-indicators .active{
    background: #FF4933;
    border-color: #FF4933;
}
.feature-course-headline{
    border-left: 3px solid #393d47;
    padding-left: 15px;
}
blockquote:before{content: open-quote;}
blockquote:after{content: close-quote;}
/** blog part **/
.latest-news-area .headlines{
    font-size: 31px;
    font-weight: 600;
    display: inline-block;
    margin-bottom: 55px;
    margin-top: 20px;
    text-align: center;
    width: 100%;
    color: #5271a3;
    font-family: 'Krona One', sans-serif;
}



.latest-news-area{
   /* padding: 2rem 0rem;*/
    background-attachment: fixed;
  }
.latest-news-area .card{
    height: 35rem;
    width: 22rem;
  }
  
  .latest-news-area .card-img {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  
  .latest-news-area .card-title {
    margin-bottom: 0.3rem;
  }
  
  .latest-news-area .cat {
    display: inline-block;
    margin-bottom: 1rem;
  }
  
  .latest-news-area .fa-users {
    margin-left: 1rem;
  }
  
  .latest-news-area .card-footer {
    font-size: 0.8rem;
  }
 .headline{
     margin-left: 20px;
     margin-bottom: 20px;
     color: #333;
     font-size: 21px;
 }
 .card-body .btn{
     background-color: #FF4933;
     color: #FFFFFF;
 }



section .section-title {
    text-align: center;
    color: #007b5e;
    text-transform: uppercase;
}
#footer {
    padding-top: 20px;
    background: #07092C !important;
    height: 100;
}
#footer h5{
	padding-left: 10px;
    border-left: 3px solid #FF4933;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
}
#footer a {
    color: #ffffff;
    /*color: #444;*/
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
	padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
	font-size:20px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
	color:#ffffff;
}
#footer ul.social li a:hover{
	color:#eeeeee;
}
#footer ul.quick-links li{
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left:5px;
	font-weight:700;
}
#footer ul.quick-links li a i{
	margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}
.quick-link{
    padding-top: 30px;
    border-bottom: 1px solid #ffffff;
}

@media (max-width:767px){
	#footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
}
}
