.logo img{
    height: 60px;
    width: 60%;
}



/**banner part**/
.banner_part{
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.btn_1{
    background-color: #FF4933;
    color: white;
    text-align: center;
    padding: 10px 30px;
    border-radius: 4px !important;
    font-size: 21px;
}
.banner_text{
    padding-top: 10%;
    color: #00acee;
}
.banner_text h6{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0px;
    width: 100%;
    display: inline-block;
} 
.banner_text p{
    font-size: 24px;
    font-weight: 400;
    padding-bottom: 5%;   
    width: 100%;
}
.banner_text h1{
    font-size: 44px;
}

/**partner area**/

.trust-item li{
    text-align: left;
   padding-left: 20px;
   padding-right: 20px;
  padding-top: 10px;
}
ul{
list-style-type: none;
}
ul li p{
    text-align: left !important;
    font-size: 15px;
    font-weight: 400;
}
/*.partner-area{
    margin: 0 30px;
    box-shadow: 
       inset 0 -3em 3em rgba(0,0,0,0.1), 
             0 0  0 2px rgb(255,255,255),
             0.3em 0.3em 1em rgba(0,0,0,0.3);
}

/**feature **/
/**.our-features{
    box-shadow: 
       inset 0 -3em 3em rgba(0,0,0,0.1), 
             0 0  0 2px rgb(255,255,255),
             0.3em 0.3em 1em rgba(0,0,0,0.3);
}**/
.our-features{
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #F6F2F1;
}

.our-features .card{
    margin-left: 50px;
    height: 20rem;
    width: 15rem;
}
.our-features .features-headline{
    text-align: center;
    height: 100px;
    width: 100%;
    color: #00acee;
}
.our-features .card-body{
    font-size: 14px;
    line-height: 1.42857143;
}

/*.card{
    box-shadow: 
       inset 0 -3em 3em rgba(0,0,0,0.1), 
             0 0  0 2px rgb(255,255,255),
             0.3em 0.3em 1em rgba(0,0,0,0.3);
}*/
.snd-ftr-items{
    margin-top: 50px !important;
}

.our-features .card:hover{
    transition: .5s ease;
    transform: scale(1.05);
 box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}


/**courses item**/
.courses-part .card:hover .card-body{
  opacity: 0.3;
}
.courses-part .card:hover .card-img-top{
    opacity: 0.3;
  }

.courses-part .card:hover .middle{
  opacity: 1 !important;
}
.middle {
  transition: .8s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  border: 1px solid #337DFF;
  border-radius: 4px;
  
}
.card .middle .text {
  background-color:  #337DFF;
  color:white;
  font-size: 16px;
  padding: 10px 20px;
}

.courses-part .card{
    margin: 30px;
    height: 20rem;
    width: 15rem;

}
.courses-part .card .card-img-top{
    transition: .8s ease;
}
.courses-part{
    background-color: white;
    padding-bottom: 30px;
}

/** service part here **/
*{
    box-sizing: border-box;
}
.service-part{
    height: 700px;
   /* margin-bottom: 10%;*/
    background: #F6F2F1;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.tabs{
    position: absolute;
    margin-top: 10%;
    /*top: 291%;*/
    /*left: 49%;*/

    /*transform: translate(-50%,-50%);*/
    width: 80%;
    margin-left: 20px;
    height: 450px;
    padding: 30px 20px;
    background: #f5f5f5;
    box-shadow: 5px 5px 10px 5px #ccc;
    overflow: hidden;
}
.tab-header {
    float: left;
    width: 30%;
    height: 100%;
    border-right: 10px solid #ccc;
    padding: 50px 0px;
    background-color: #619DC5;
}

.tabs .tab-header >div {
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    font-weight: 600;
    color: black;
    cursor: pointer;
    padding-left: 10px;
}

.tab-header > div:hover,
.tab-header >div.active{
    color: white;
}

.tabs .tab-header div i{
    display: inline-block;
    margin-left: 10px;
    margin-right: 5px;
}

.tabs .tab-content{
    position: relative;
    height: 100%;
    overflow: hidden;
    background-color: #94BEDA;
}
.tabs .tab-content >div >i {
    display: inline-block;
    width: 50px;
    height: 50px;
    background: #00acee;
    color: #FF4933;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
}

.tabs .tab-content > div {
    position: absolute;
    text-align: center;
    padding: 40px 20px;
    top: -200%;
    transition: all 500ms ease-in-out;
}

.tabs .tab-content > div.active{
    top: 0px;
}

.tabs .tab-indicator{
    position: absolute;
    width: 5px;
    height: 50px;
    background: #FF4933;;
    left: 30%;
    top: 80px;
    transition: all 500ms ease-in-out;
}

/** contact section **/
.contact-form-part{
    background-image: url('../img/contact-background/claudio-schwarz-purzlbaum-_wDZkpybAfY-unsplash.jpg');
    
    background-size: cover;
    background-position: center center;
    background-color: rgba(255, 255, 255, 0.486);
    background-blend-mode: overlay;
    padding-bottom: 2%;
    padding-top: 2%;
}
.contactinfo{
    padding-top: 8%;
}

.contactinfo .info li{
    padding: 3%;
} 
.info{
    padding-top: 5%;
}
.contact-form-part .row{
    background-color: #8AB0D4;
    background-position: center center;
}
.contactForm h2{
    color: cornsilk;
}
.formBox .inputBox span{
    color: white;
}
.contactForm{
    padding-top: 3%;
    margin-left: 25%;
}
.inputBox{
    padding: 3%;
    
}
input{
    width: 100%;
    border: 1px solid #888;
  border-radius: 1px;
}
textarea{
    width: 100%;
    border: 1px solid #888;
    border-radius: 1px;
    height: 80px;
}
/*.contact-button{
    background-color: #FF4933;
    color: white;
    text-align: center;
    padding: 5px 20px;
    border-radius: 3px ;
    font-size: 15px;
}*/
.sci{
    display: flex;
}
.sci li{
    padding: 5px;
    font-size: 25px;
    cursor: pointer;
    color: cornsilk;
}

.fa-facebook-square:hover{
    color: #3b5998;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}
.fa-twitter:hover{
    color: #1DA1F2;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}
.fa-linkedin-square:hover{
    color: #0e76a8;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}
.fa-youtube-play:hover{
    color: #FF0000;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}
.fa-google-plus-square:hover{
    color: #db4a39;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}
.fa-pinterest-square:hover{
    color: 	#E60023;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}

/** associate member area**/
.owl-carousel img {

    max-width:50%;
    height: 50%;
    padding: 5%;
    text-align: center;
    
    
}
/*Team Section*/
.Team{
    margin: 0;
    padding: 0;
}
.Team img{
    margin-top: -50px;
    object-fit: cover;
}
.Team i{
    font-size: 26px;
    color: white;
}
.Team p{
    font-weight: 500;
}
.Team .card{
    border-radius: 5px;
    box-shadow: 5px 5px 15px #E36C5E;
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    background-color: #94BEDA;
}

.Team .card:hover{
    background:#E36C5E;
    color: #fff;
    border-radius: 5px;
    border: none;
    box-shadow: 5px 5px 10px #00acee;
}
.Team .card .fa-facebook:hover{
    color: #3b5998;
}
.Team .card .fa-instagram:hover{
    color: #C13584;
}

.Team .card-body{
    color: white;
}


/** testimonial **/
.testimonial-info{
    margin-top: 50px;
}
.testimonial-info h3{
    margin-bottom: 20px;
    font-weight: 600;
    letter-spacing: 0;
}
.testimonial-info h6{
    font-weight: 500;
    font-size: 16px;
}
.testimonial-info ul{
    display: flex;
    
}
.testimonial-info li{
    width: 30px;
    height: 30px;
    background: #262626;
    border-radius: 50%;
    text-align: center;
    margin-right: 10px;
}
.testimonial-info li a{
    color: #fff;
    padding: 7px 3px;
}
.testimonial-info p{
    margin: 40px 0;
    color: black;
    font-size: 18px;
}
.testimonial-div{
    width: 45px;
    background: #FF4933;
    height: 2px;
    position: relative;
    margin-top: 20px;
}
.testimonial-div:after{
    position: absolute;
    content: '';
    width: 30px;
    background: #FF4933;
    height: 2px;
    bottom: 0;
    top: 5px;
    bottom: 0;
    top: 5px;
}
.carousel-indicators{
    bottom: 20px;
    left: 53%;
}
.carousel-indicators li{
    border-color: #444;

}
.carousel-indicators .active{
    background: #FF4933;
    border-color: #FF4933;
}
blockquote:before{content: open-quote;}
blockquote:after{content: close-quote;)